#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}

.task {
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid rgb(15, 1, 1);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}